version: '3'

services: 
    backend:
        build:
            context: ./backend
            dockerfile: Dockerfile
        container_name: pronet-backend
        command: python3 ./backend/manage.py runserver 0.0.0.0:8000
        volumes: 
            - .:/backend
        ports:
            - "8001:8000"

    frontend:
        container_name: pronet-frontend
        build: 
            context: ./frontend
            dockerfile: Dockerfile
        volumes:
            - ./frontend:/frontend
            - /frontend/node_modules
        ports: 
            - '3001:3000'
        environment: 
            - NODE_ENV=development
        depends_on: 
            - backend
        command: npm start