[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
rope = "*"

[packages]
django = "==3.0.1"
djangorestframework = "*"
markdown = "*"
django-rest-auth = "*"
django-allauth = "*"
django-cors-headers = "*"
drf-writable-nested = "*"
django-annoying = "*"

[requires]
python_version = "3.7"
